<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403371458862-vd7t08kf2ssvpohrmna2s9p5ja6o6n7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403371458862-vd7t08kf2ssvpohrmna2s9p5ja6o6n7k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403371458862-rc9d3d82cmh1cjsre4g41qeqcp2por2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfq4tswPkYiayvX7znheQ7zUf6ebeSeeE</string>
	<key>GCM_SENDER_ID</key>
	<string>403371458862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>udeme-course-748a5</string>
	<key>STORAGE_BUCKET</key>
	<string>udeme-course-748a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403371458862:ios:60bfa50fc2d18755607abf</string>
</dict>
</plist>